{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>You're campfire has been extinguished</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>After being attacked by a wandering group of bandits, you're party was swiftly killed and your fire
                extinguished
                the bandits, after consuming all your supplies laid out what was left in a large
                <strong>404</strong>. In an
                effort to escape you are now lost the only thing left is to escape this and return to where you came
                from.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 btn-format">
            <a href="{{ url_for('get_intro') }}" class="btn" aria-label="Home">Let's go back</a>
        </div>
    </div>
</div>

{% endblock %}