{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">
    <form action="{{ url_for('insert_character') }}" method="POST" class="col-12">


        <div class="container">
            <div class="row loader">
                <div id="loading" class="hide"></div>
            </div>
        </div>

        {% include 'components/create-form.html' %}
        <div class="col-12">
            <button class="btn hide btn-format" type="submit" name="action" id="confirmAdd">Add</button>
        </div>
    </form>
</div>

<a href="#" class="btn hide" id="editButton">Edit</a>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}