{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">
    <form action="{{ url_for('insert_character') }}" method="POST" class="col-12">


        <div class="container">
            <div class="row loader">
                <div id="loading" class="hide"></div>
            </div>
        </div>

        {% include 'components/create-form.html' %}
        <button class="btn" type="submit" name="action">Add</button>
    </form>
</div>


<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}