{% extends 'layouts/base.html' %}
{% block content %}
<div class="container container-pad">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="card custom-card character">
                <img class="card-img-top card-image" src="/static/images/avatars/{{character.gender}}-{{character.class}}.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{character.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <p class="card-titles">Gender</p>
                    <li class="list-group-item character-list">{{character.gender}}</li>
                    <p class="card-titles">Class</p>
                    <li class="list-group-item character-list">{{character.class}}</li>
                    <p class="card-titles">Hit Die</p>
                    <li class="list-group-item character-list">{{character.hit_die}}</li>
                    <p class="card-titles">Saving Throws</p>
                    <li class="list-group-item character-list">{{character.saving_throw1}}</li>
                    <li class="list-group-item character-list">{{character.saving_throw2}}</li>
                    <p class="card-titles">Proficiencies</p>
                    <li class="list-group-item character-list">{{character.proficiency1}}</li>
                    <li class="list-group-item character-list">{{character.proficiency2}}</li>
                    <p class="card-titles">Starting Equipment</p>
                    <li class="list-group-item character-list">{{character.start_equipment_choice}}</li>
                    <li class="list-group-item character-list">{{character.start_equip1}}</li>
                    <li class="list-group-item character-list">{{character.start_equip2}}</li>
                </ul>
               
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="row">
                <div class="col-12 btn-format" id="editChoice">
                    <a href="#" class="btn btn-format" id="editButton" aria-label="Edit character">Edit {{character.name}}</a>
                    <a href="{{url_for('get_party')}}" class="btn btn-format" aria-label="Party Screen">Return to Party Screen</a>
                </div>
                <form action="{{ url_for('update_character', character_id=character._id)}}" method="POST"
                    class="col-12">


                    <div class="container">
                        <div class="row loader">
                            <div id="loading" class="hide"></div>
                        </div>
                    </div>

                    <div class="container-fluid hide btn-format" id="editForm">
                        {% include 'components/create-form.html' %}
                        <button class="btn hide" type="submit" name="action" id="confirmEdit">Apply Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}