{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header">Welcome to the Campfire </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cum est tempora, veniam eos eum
                nobis
                porro maxime a dignissimos libero labore consequatur perferendis architecto odit fugiat. Molestias, aut
                temporibus!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{url_for('register')}}" class="btn">
            sign up now and start creating
            </a>
        </div>
    </div>
</div>
{% endblock %}