{% extends 'layouts/base.html' %}
{% block content %}

{% if 'username' in session %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="header">Welcome Back</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                The campfire is still burning away and you can sit down and rest after your travels.
                a great journey stands ahead of you and your party will help you along your way.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                It's time to start thinking about who you're going to take with you and how you will go about completing
                your quest.
                Do you need another Paladin to aid in your quest or another Warlock to help rain fire down upon your
                enemies.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Take some time to review your party or maybe add some more adventurers to your campfire before heading
                out
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 btn-format">
            <a href="{{url_for('get_party')}}" class="btn" aria-label="View Party">
                View My Party
            </a>
        </div>
        <div class="col-6 btn-format">
            <a href="{{url_for('create_character')}}" class="btn" aria-label="Create a Character">
                Create Another Character
            </a>
        </div>
    </div>
</div>


{% else %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header">Welcome to the Campfire </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Welcome to the campfire, it's been a long road to get here and now it's time to rest your aching bones
                and build your party to face the challenges ahead of you.
            </p>
        </div>

        <div class="col-12">
            <p>To succeed you will need the strength and fortitude you have already shown but you can't go alone. Who do
                you need to help you in your quests, will a Barbarian give you the brute strength to destroy your
                enemies or a Druid bring much needed balance to ensure victory? It's time to register and start making a
                party that will bring victory and peace to the world.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 btn-format">
            <a href="{{url_for('register')}}" class="btn" aria-label="Sign up">
                Register Your Account
            </a>
        </div>
        <div class="col-6 btn-format">
            <a href="{{url_for('login')}}" class="btn" aria-label="Log in">
                Log Back In
            </a>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}