{% extends 'layouts/base.html' %}
{% block content %}

{% if 'username' in session %}

<div class="container">
    <div class="row">
    <h1>Returned</h1>
</div>


{% else %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="header">Welcome to the Campfire </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>The D&D campfire is a tool to help you create and store characters for use not just in your D&D tabletop games but across other games
                within the D&D universe such as Baldur's gate. 
            </p>
        </div>
        <div class="col-12">
            <h2>How it works</h2>
        </div>
        <div class="col-12">
            <p>First of all you create an account, from there you can then start creating your own characters which are then added to your party.
                from there you can edit delete and continue to add characters until you party is ready to go
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 btn-format">
            <a href="{{url_for('register')}}" class="btn" aria-label="Sign up">
                Sign up now and start creating
            </a>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}