{% block footer %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <p>The D&D Campfire</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-facebook-f"></i>
        </div>
        <div class="col-sm-6 col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, temporibus?</p>
        </div>
    </div>
</div>

{% endblock %}