@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Gotu&display=swap');

/* Global Rules */
html {
    font-size: 16px;
}

body {
    font-family: "Gotu", sans-serif;
    color: #CFB53B;
}

/* Colours */

.bgcolor-main {
    background-color: #272b30
}

/* Header */

.head-align {
    text-align: center;
}

.hide {
    display:none;
}

/* Text content */

.paragraph-format {
    text-align: center;
}

.header {
    font-family: "Girassol", sans-serif;
    text-align: center;
    padding: 1.5rem;
}

/* Nav Bar */

.logo {
    margin-left: auto;
    margin-right: auto;
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e2e2e2;
}

/* Loader */
.loader {
    display: flex;
    justify-content: center;
}

#loading {
    border: 1rem solid #e6a11c;
    border-top: 1rem solid #D3D3D3;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Form Elements */

.btn-format {
    text-align: center;
    padding: 2rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: initial;
    border-style: none;
    color: #CFB53B;
    cursor: default;
    user-select: none;
}

.btn {
    color: #e2e2e2;
}

.story {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Character Card */

.character {
    text-align: center;
    padding: 2rem;
}

.custom-card {
    border: solid;
    border-color: #CFB53B;
    background-color: #272b30;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.card-titles {
    background-color: #272b33;
    margin-bottom: 0;
}

.card-image {
    width: 60%;
    margin: auto;
}

.container-pad {
    padding: 5rem 1rem;
}

.character-list {
    cursor: default;
    user-select: none
}

/* Footer */

.footer {
    text-align: center;
    justify-content: center;
}

.social-links {
    color: #CFB53B;
    font-size: 3rem;
    padding-right: 1rem;
    text-align: center;
}

.social-links:hover {
    color:#e51111;
    transition: ease-in-out;
    transition-duration: 1s;
}