@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Gotu&display=swap');

body {
    font-family: "Gotu", sans-serif;
}

.header {
    font-family: "Girassol", sans-serif;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}